h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 72px;
  min-height: 100px;
}
h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  width: 1000px;
}

#like {
  padding: 50px;
  margin: 20px 10px;
  border: 10px;
  border-color: white;
  background-color: green;
  color: white;
}

#dislike {
  padding: 50px;
  margin: 20px 1px;
  border: 10px;
  border-color: white;
  background-color: red;
  color: white;
}
