* {
  box-sizing: border-box;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  background-color: lightseagreen;
}

h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: darkcyan;
  color: seashell;
  font-size: 72px;
  margin: 50px;
}

button {
  font-size: 35px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.buttons {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
}

#like {
  background-color: darkgray;
  border: 10px solid lightgray;
  border-radius: 7px;
  color: seashell;
  grid-area: 1 / 1 / 2 / 2;
  transition-duration: 0.4s;
}

#like:hover {
  color: seashell;
  background-color: lightgray;
  border: 10px solid darkgray;
}

#dislike {
  background-color: darkgray;
  border: 10px solid lightgray;
  border-radius: 7px;
  color: seashell;
  grid-area: 1 / 2 / 2 / 3;
  transition-duration: 0.4s;
}

#dislike:hover {
  background-color: lightgray;
  color: seashell;
  border: 10px solid darkgray;
}

#LikeDisplay {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  border: 10px solid lightseagreen;
  background-color: lightseagreen;
  color: seashell;
  grid-area: 2 / 1 / 3 / 2;
}

#DislikeDisplay {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  border: 10px solid lightseagreen;
  background-color: lightseagreen;
  color: seashell;
  grid-area: 2 / 2 / 3 / 3;
}
